{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="container">
			<header class="header" >
				<nav class="navbar navbar-default">
			{% block header %}
			<div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		              <span class="sr-only">Toggle navigation</span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		            </button>
	           {{function('the_custom_logo')}}
	          </div>
					 <div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
						{% for item in primary_menu.get_items %}
							<li class="nav-item {{item.classes | join(' ')}}">
								<a class="nav-link {{item._menu_item_object_id}}" href="{{item.get_link}}">{{item.title}}</a>

										{{function('render_post_excerpt('~item._menu_item_object_id~')')}}



								{% if item.get_children %}
									<ul class="nav nav-drop">
									{% for child in item.get_children %}
										<li class="nav-drop-item">
											<a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
										</li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
						</ul>
					</div><!-- #nav -->
			{% endblock %}
			</nav>
		</header>



		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		</div>
	</body>
</html>